/gettingstarted.css
/gettingstarted.html
/grid.css
/grid.html
/grid_and_mediaquery.css
/grid_and_mediaquery.html
/index.css
/index.html
/named_grid_areas.css
/named_grid_areas.html
/professor.JPG
/ugentlogo.png